*node_modules*
node_modules
package-lock.json
_ignore

*.config
*.jpg
*.webp
*.png
*.svg
*.rar
*.zip
*.bat
*.sh
.vite
/img
/lib
/backup
/.vscode
/temp

prepros.config
*dev*
*backup*
# *data*.json

# cpanel
error_log

# except for a specific file named "demo.zip," 
!icomoon-v1.0.zip